:root {
 --background-color: rgb(24, 23, 23);
 --grey: rgb(44, 44, 44);
 --violet: violet;
 --darkerviolet: rgb(178, 0, 151);
}

* {
    background: var(--background-color);
    color: white;
    box-sizing: border-box;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    user-select: auto;
}

section > p, 
h1, 
h2 {
    color: var(--violet);
}

h2, 
p, 
pre {
    padding: 10px;
}

p {
margin: 0px;
}

h2 {
    border: 1px solid;
    border-radius: 10px;
    position: relative;
    top: -43px;
    background-color: var(--background-color);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -36px;
}

section {
    border: 1px dashed;
    margin: 2rem;
    width: 25%;
    position: relative;
    padding: 10px;
}

.code-block {
    background: linear-gradient(var(--violet), var(--darkerviolet));
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: left;
    white-space: pre-wrap;
    overflow: auto;
}

code {
    background:none;
}

code::selection {
    background-color: rgb(37, 101, 238);
}

code:active {
    user-select: all;
}

section:hover, 
section:hover h2 {
    box-shadow: inset 0px 0px 8px var(--violet), 0 0 15px var(--violet);
}

section:hover h2 p {
    transform: translateY(-1opx) scale(1.01);
}

@media screen and (max-width: 434px) {

    section {
        flex: 1 0 50%;    
    }
    
    body {
        margin: 0px;
    }

}

/* @media screen and (max-width: 762px) {

    section {
        flex: 0 0 50%;    
    }
    
    body {
        margin: 0px;
    }

} */
